:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --info-font-size: 20px;
  --info-bp-font-size: 17px;
}
h1,
h2,
h3 {
  margin: 0;
}
h1 {
  font-size: 96px;
}
h2 {
  font-size: 48px;
}
h3 {
  font-size: 24px;
  opacity: 0.7;
}
h4 {
  margin-top: 70px;
  text-align: center;
  font-size: 35px;
  opacity: 0.8;
}
ul {
  list-style: none;
  line-height: 35px;
  padding-left: 0px;
}
.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}
.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}
.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}
.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}
.email-link:hover {
  text-decoration: underline;
}
.margin-top-page {
  margin-top: 100px;
}
.grid-spacing {
  margin-top: 60px;
  margin-bottom: 100px;
  max-width: 900px;
}
.bg-style {
  background-color: rgb(219, 159, 219, 0.1);
  padding: 20px;
}
.a-none {
  text-decoration: none;
}
.info-size {
  font-size: var(--info-font-size);
}
@media (max-width: 768px) {
  .img-none {
    display: none;
  }
  .about-img {
    display: block;
    margin: auto;
    margin-bottom: 25px;
    max-width: 70%;
  }
}
@media (max-width: 576px) {
  h2 {
    font-size: 30px;
  }
  h1 {
    font-size: 60px;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 20px;
  }
  .info-size {
    font-size: var(--info-bp-font-size);
  }
  .navigation-links a {
    margin: 15px;
    padding: 10px 10px;
  }
}
